.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

body {
  font-family: "Libre Franklin", sans-serif;
  background: #b76e79;
  /* Cor de fallback */
  background: linear-gradient(
      90deg,
      rgba(183, 110, 121, 1) 100%,
      rgba(0, 0, 0, 1) 30%
    ),
    url("../img/background-1.jpg");
  /* Gradiente com imagem */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  /* Mistura o gradiente com a imagem */
}
